@import url('https://fonts.googleapis.com/css?family=Courgette|Galada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');
*{
    color: white;
    font-size: 25px;
    font-family: 'Galada', cursive;
    font-family: 'Courgette', cursive;
}
body{
    background-image: url('./images/moon.jpeg');
    background-color: grey;
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    border: 10px dotted white;
}
/* header{
    height: 450px;
    background-size: cover;
    background-position: center;
    background-image: url('./images/Akan-designstyle-jungle-m.png');
} */       
h1{
    text-align: center;
    font-family: 'Galada', cursive;
    font-size: 90px;
    text-decoration: underline;
    
}
nav ul li{
    display: inline-block;
    padding: 40px;
    float: right;
    text-transform: uppercase;
    margin-right: 25px;
    margin-top: 0px;
    list-style-type: none;
    text-align: center;
    text-decoration: underline;
    font-size: 30px ;
}
nav li a:hover{
    background-color:white;
    padding: 10px;
}
#image{
   text-align: center;
}
.js{
    align-items: center;
    text-align: center;
}
h2{
    text-align: center;
}
.contact{
    padding: 25px;
    margin-left: 10px;
    float: right;
}
footer{
    height: auto;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: black;
    font-size: 30px;
}
#img{
    padding: 30px;
}
.contacts{
    align-items: center;
    align-content: center;
    border: 2px solid grey;
    width: 400px;
    text-align: center;
    align-content: center;
    flex-direction: column;
    margin-left: 40%;

}